@import "left.css";
.padding5 {
    padding: 5px;
}

.height100 {
    height: 97%;
}

.height80 {
    height: 95%;
}

.header-text {
    margin-top: 13px;
}

.header-icon {
    margin-top: auto;
    margin-bottom: auto;
}
